[submodule "interface"]
	path = interface
	url = https://github.com/EESC-MKGroup/Robot-Control-Interface.git
[submodule "linearizer"]
	path = linearizer
	url = https://github.com/EESC-MKGroup/System-Linearizer.git
[submodule "kalman"]
	path = kalman
	url = https://github.com/EESC-MKGroup/Simple-Kalman-Filter.git
[submodule "lqr"]
	path = lqr
	url = https://github.com/EESC-MKGroup/Simple-iLQR.git
